<header class="header">
    <div class="container">
        <div class="header-part">
            <div class="top-header">
                <a href="#" title="Techbar"><img src="../../../assets/images/techbar-logo.png"> </a>
                <ul class="header-menu">
                    <li><a href="#" title="About">About</a> </li>
                    <li><a href="#" title="Contact">Contact</a> </li>
                    <li><a href="#" title="Blog">Blog</a> </li>
                    <li><a href="#" title="Staff">Staff</a> </li>
                </ul>
            </div>
            <div class="baottom-header">
                <mat-toolbar>
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                      <mat-icon color="primary">menu</mat-icon>
                    </button>
                    <span >Techbar</span>
                    <span class="example-spacer"></span>
                    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                      <mat-icon color="primary">favorite</mat-icon>
                    </button>
                    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with share icon">
                      <mat-icon color="primary"><img src="../../../assets/images/delet-icon.svg "  alt=""></mat-icon>
                    </button>
                  </mat-toolbar>
                  
            </div>
        </div>
    </div>
</header>