<footer class="footer">
    <div class="container">
        <div class="footer-part">
            <div class="social-icon">
                <ul class="footer-menu">
                    <li><a href="#" title="About">About</a> </li>
                    <li><a href="#" title="Contact">Contact</a> </li>
                    <li><a href="#" title="Blog">Blog</a> </li>
                    <li><a href="#" title="Staff">Staff</a> </li>
                </ul>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Search">
            </div>
        </div>
    </div>
</footer>