<div id="wrapper">
    <app-header></app-header>
    <main>
        <app-auto-complete> </app-auto-complete>
        <app-badge></app-badge>

        <app-card></app-card>
        <app-check-box></app-check-box>
        <app-chips></app-chips>
        <app-date></app-date>
        <app-paginator></app-paginator>
        <app-progrese></app-progrese>
        <app-sidebar></app-sidebar>

        <app-slider></app-slider>
        <app-stepper></app-stepper>
       
    </main>
    <app-footer></app-footer>
</div>